BODY {
  background: black;
  color: #DDDDDD;
  font-family: courier new;
  text-align: center;
}

h1 {
  text-align: center;
  font-size: 14pt;
  font-weight: normal;
}

.mine-field {
  margin-left: auto;
  margin-right: auto;
}

.mine-field-cells {
  border: 1px solid white;
  background: #999999;
  width: 50px;
  height: 16px;
  text-align: center;
  box-sizing: content-box;
}

.result {
  width: 50px;
  height: 16px;
  text-align: center;
  box-sizing: content-box;
}



BUTTON {
  margin: 12px;
}

.numbers {
  border: 20px double #c8a7a7;
}

.zero {
  background-color: #eeeeee;
}

.one {
  background-color: #eeeeee;
  color: #0332fe;
}

.two {
  background-color: #eeeeee;
  color: #019f02;
}

.three {
  background-color: #eeeeee;
  color: #ff2600;
}

.four {
  background-color: #eeeeee;
  color: #93208f;
}

.five {
  background-color: #eeeeee;
  color: #ff7f29;
}

.six {
  background-color: #eeeeee;
  color: #ff3fff;
}

.seven {
  background-color: #eeeeee;
  color: #53b8b4;
}

.eight {
  background-color: #eeeeee;
  color: #22ee0f;
}

.dark-mode {
  background-color: black;
  color: white;
}