.cell {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
    width: 2em;
    height: 2em;
    border-radius: 1px;
    font-size: 1rem;


}

.coverd {
    background: #ADA996;
    background: -webkit-linear-gradient(to bottom, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);
    background: linear-gradient(to bottom, #EAEAEA, #DBDBDB, #F2F2F2, #ADA996);
}

.un-coverd {
    background: #423D37;
    background: -webkit-linear-gradient(to top, #423D37, #504A40, #605C53, #706C64);
    background: linear-gradient(to top, #423D37, #504A40, #605C53, #706C64);
    color: #e7c725 ;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center
}

svg{
  width: 1.5rem;
  height: 1.5rem;
  fill: red;
}