.game-manager {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
    border-radius: 4px;
    margin: 8px 8px 0;
    gap: 1em;

    .game-info {
        display: flex;
        width: fit-content;
        gap: 1em;

        h3 {
            display: flex;
            gap: .5em;

            span {
                color: red;
            }
        }
    }

    .timer {
        font-size: 1.5rem;
        font-family: monospace;
        font-weight: 700;
        padding-left: 2px;
    }

    .control-btns {
        display: flex;
        gap: 1em;
    }

    .focus:focus {
        box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
        outline: 0;

    }

    .hints {
        display: flex;
        gap: .5em;

        flex-direction: column;

        .hint-con {
            display: flex;

            .hint {
                background: transparent;
                border: none;
                box-shadow: none;

                svg {
                    fill: red
                }
            }

        }

        .mega-hint {
            align-self: center;
        }

        .yellow {
            fill: yellow;
        }
    }
}

.restart-svg {
    width: 1.5rem;
    height: 1.5rem;
    fill: yellow;
}

.extra-features {
    display: flex;
    gap: 1em;
    height: 2em;

    .safe-click {
        display: flex;
        flex-direction: column;

        .safe-click-txt {
            align-self: center;
        }
    }
}

@media (max-width:400px) {
    .game-manager {
        gap: .5em;

        h3 {
            width: 80px;
        }
    }
}