@import 'cell.css';
@import 'board.css';
@import '/assats/header.css';
@import '/assats/typography.css';


body {
    height: 100vh;
}

main {
    height: 100%;
    display: flex;
    flex-direction: column;

}